$left: .5em;
$spacing: .25em;
.navMain {
    position: relative;
    h1 {
        font-size: 8em;
    }
    h2 {
        font-size: 4em;
    }

    .titleLine{
        transform: skew(0deg, -36deg) scaleY(1.33333);
    }

    .aboutLink {
        margin-left: $left;
         transform: skew(60deg, -32deg) scaleY(0.66667);
    }

    .blogLink {
        margin-left: $left * 4;
        transform: skew(0deg, -36deg) scaleY(1.33333);
    }

    .contactLink {
        margin-left: $left * 6;
        transform: skew(60deg, -36deg) scaleY(0.66667);
    }

    .aboutLink, .blogLink, .contactLink {
        position: relative;
        letter-spacing: normal;
        transition: all .33s;
        &:hover {
            letter-spacing: $spacing;
            transition: all .33s;
        }
    }
}