h1.title {
    font-size: 3em;
}

h2.title {
    font-size: 2em;
}

h3.title {
    font-size: 1.5em;
    font-weight: bold;
}

.inline-code {
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}